<template>
  <section
    id="hero"
    class="d-none d-sm-flex"
    @click="$parent.$refs['prez'].scrollIntoView({ behavior: 'smooth' });"
  ></section>
</template>

<style lang="scss">
#hero {
  background: url('../../../public/img/home.jpg') center center;
  background-size: cover;
  min-height: 42rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  /*
  .container {
    align-self: center;
    background: transparent;

    .col-md-4 {
      visibility: hidden;
      background: rgba($color: $p1, $alpha: 0.8);
      border-radius: 4px;
      padding: 20px 30px;
      @supports ( (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px)) ) {
        backdrop-filter: blur(5px);
      }
    }

    h2 {
      padding: 0 5px;
      font-size: 1.7rem;
    }
  }
  */
}
</style>
