<template>
  <section id="who">
    <b-container class="py-5">
      <b-row class="mx-0">
        <b-col
          class="mr-auto"
          lg="8"
        >
          <h2 v-html="$t('home.who.title')"></h2>
        </b-col>
      </b-row>
      <b-row class="mx-0">
        <b-col
          class="text-center"
          lg="4"
        >
          <b-img
            alt=""
            class="my-4 py-0 px-5 p-lg-4 col-md-6 col-lg-12"
            fluid
            :src="`${$t('baseurl')}img/biglogo.png`"
          />
        </b-col>
        <b-col
          class="my-4"
          lg="8"
          v-html="$t('home.who.md')"
        />
      </b-row>
    </b-container>
  </section>
</template>
